
@using KutuphaneYonetimSistemi.Models.Entity
@model List<TBLAction>
@{ ViewBag.Title = "Index";
                Layout = "~/Views/Shared/Layout.cshtml"; }

<h2>iadesi alınan kitaplar</h2>



<table class="table table-bordered">

    <tr>
        <th>Action id</th>
        <th>Book Name</th>
        <th>User name</th>
        <th>Worker Name</th>
        <th>Borrow date</th>
        <th>User Landing date</th>


        <th>Landing book</th>

    </tr>

    @*@foreach (var book in Model)
    {
<tr>
    <td>@book.ActionID</td>
    <td>@book.TBLBook.bookName</td>
    <td>@book.TBLUser.UserName &nbsp @book.TBLUser.UserSurname </td>*@
    @*<td>@book.ActionWorker</td>
    <td>@Convert.ToDateTime(book.ActionBeginningDate).ToString("dd/MM/yyyy")</td>
    <td>@Convert.ToDateTime(book.userLendingTime).ToString("dd/MM/yyyy")</td>

    <td><a href="/Borrow/Lending/@book.ActionID" class="btn btn-success" style="background-color:#ff6a00">Detaylar</a></td>*@

</tr>}
</table>
